/* It is recommended to place all your extra/additional CSS rules here */
#profile-photo {
  border-radius: 100%;
  max-width: 200px;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a h5 {
  color: #fff;
}

.full-stack {
  width: 15%;
  display: inline;
}